*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-3);
  font-family: var(--plus-jakarta-sans);
  font-size: var(--font-size-2);
  font-weight: 500;
  line-height: 2.6rem;
}

a {
  text-decoration: none;
}

/* 1110px */
@media screen and (min-width: 69.375rem) {

  body {
    font-size: var(--font-size-3);
    line-height: 2.8rem;
  }

}
