.courses__card {
  background-color: var(--color-6);
  border-radius: 1rem;
  box-shadow: 0 2.5rem 5rem 0 rgba(6, 22, 141, 0.0442381);
  display: flex;
    flex-direction: column;
  padding: 5.6rem 2.8rem 3.2rem;
  position: relative;
}

/* 1110px */
@media screen and (min-width: 69.375rem) {

  .courses__card{
    padding: 6.4rem 3.2rem 4rem;
  }

}