.courses__name {
  color: var(--color-2);
  font-size: var(--font-size-9);
  font-weight: 800;
  line-height: 2.5rem;
}

/* 1110px */
@media screen and (min-width: 69.375rem) {

  .courses__name {
    font-size: var(--font-size-4);
    line-height: 3rem;
  }

}