.courses__title-wrapper {
  background-image: var(--gradient-1);
  border-radius: 1rem;
  padding: 2.4rem 2.8rem 3.2rem;
}

/* 768px */
@media screen and (min-width: 48rem) {

  .courses__title-wrapper {
    padding: 5.6rem 3.2rem 0;
  }

}

/* 1110px */
@media screen and (min-width: 69.375rem) {

  .courses__title-wrapper {
    padding-top: 6.4rem;
  }

}