.courses__link {
  align-self: flex-start;
  color: var(--color-4);
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 2.8rem;
  margin-top: auto;
}

/* 1110px */
@media screen and (min-width: 69.375rem) {

  .courses__link:focus,
  .courses__link:hover {
    color: var(--color-5);
  }

}